<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" >
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    window.onload = function() {
    	document.getElementById("shorten").onclick = function (){ 

			$('#input').keyup(function(){
				var length = $('#input').val().length;
				if(length > 0) {
					document.getElementById("warning").innerHTML ="";
				}
			});
			
			if(!$("#input").val()){
				document.getElementById("warning").innerHTML = "Please type in any URL";
			}
			else if(!url_validation($("#input").val())){
				document.getElementById("warning").innerHTML ="URL은 http:// 혹은 https:// 로 시작해야 합니다.";
			
			}	
			else{	
	  				var reqDTO = {
						"originURL" : $("#input").val()
					};
        
	        	 $.ajax({
				    url : "/shorten",
    				type: "POST",
    				contentType: "application/json;charset=UTF-8",
           			data:JSON.stringify(reqDTO),
    				async:true
				}).done(function(res){
					$("#result").replaceWith(res);
					
        		}).fail(function(res){
					document.getElementById("warning").innerHTML ="Server Error";
				});
			} 
         }
    }
    function redirect(url){
		location.href=url;
	}
	function url_validation(url){	
    	var startWith = ["http://","https://"];
		if(!url.includes(startWith[0]) && !url.includes(startWith[1])){
			return false;
		}
		return true;
	}
	</script>	    
    <title>URL Shortening Page</title>
</head>
<body>
    <h1>URL Shortening Page</h1>
    
    <input id="input" type="text" placeholder="Please type in ..." minlength="1"/>
    <input id="shorten" type="button" value ="URL 줄이기" class = "button"/>
    <div id = "warning" class ="layout"></div>
    <div id = "result"></div>
    
 </div>
</body>
</html>